@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

main {
  padding: 2em;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 1.25em;
}

.header--image {
  height: 120%;
  margin-right: 0.5em;
}

.header--title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.1em;
  text-align: left;
}

.header--project {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: right;
  margin-left: auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1em;
}

.form--input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;

  font-family: "Karla", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-indent: 0.5em;
}

.form--button {
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  cursor: pointer;

  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
}


.meme--image {
  margin: 0 auto;
  max-width: 100%;
}